.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .text__main {
    animation: blink 1s infinite;
    margin: 2px 2px 2px 2px;
  }
  
  @keyframes blink {
    0% {
      color: red;
    }
    50% {
      color: black;
    }
    100% {
      color: red;
    }
  }
  
  .text {
    animation: color-change 3s infinite;
  }
  
  @keyframes color-change {
    0% {
      color: white;
    }
    50% {
      color: pink;
    }
    100% {
      color: red;
    }
  }
  
  .img-div {
    display: flex;
    justify-content: center;
    margin-top: 2px;
  }
  
  .multi-game__girl-image {
    margin: 1px 5px;
    width: 250px;
    height: 250px;
  }
  
  @media (max-width: 768px) {
    .multi-game__girl-image {
      width: 40vw;
      height: auto;
      max-width: none;
      max-height: 40vh;
    }
  }
  