html, body {
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

body {
  background-color: black;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Nagłówek */
.header {
  background-color: #333;
  padding: 5px;
}

.header__title {
  font-size: 40px;
  text-align: center;
  margin: 0;
}

/* Zawartość główna */
.main {
  padding: 10px;
  text-align: center;
}

/* Wynik - Play Again */
.result__play-again {
  margin-top: 1px;
}

.result__play-again-button {
  padding: 1px 5px;
  font-size: 16px;
  background-color: #ff4081;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.result__play-again-button:hover {
  transform: scale(1.1);
}

/* Nagłówek strony */
/* Nagłówek strony */
.game__option-label {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

/* Lista opcji */
.game__options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex; /* Dodane */
  justify-content: center; /* Dodane */
}

/* Pojedyncza opcja */
.game__option {
  margin: 10px;
}

/* Przycisk */
.game__button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff4081;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.game__button:hover {
  transform: scale(1.1);
}

/* Punkty */
.game__points {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

/* Reset */
.game__reset {
  text-align: center;
  margin-top: 20px;
}


.game__button-image {
  width: 100px;
  height: 100px;
}

.game__all-girl-image {
  width: 600;
  height: 228px;
}




@media (max-width: 100vw) {
  .game__all-girl-image {
    width: 80vw; /* Zajmuje 40% szerokości widoku */
    height: auto; /* Proporcjonalna wysokość */
    max-width: none; /* Usunięcie maksymalnej szerokości */
    max-height: 80vh; /* Maksymalna wysokość wynosi 40% wysokości widoku */
  }
}

