/* win.css */
.win-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px;
  background-color: #000;
  color: #fff;
  height: 65vh; /* Całość zajmuje całą wysokość widoku przeglądarki */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.win_main-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2px;
  text-transform: uppercase;
  animation: neonGlow 1s linear infinite alternate;
}

.win_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1px;
}

.win_score {
  font-size: 14px;
}

.win-main.player-win {
  color: #00bfff;
}

.win-main.pc-win {
  color: #ff6f00;
}

.animatet-girl {
  width: 200px;
  height: 200px;
}

@keyframes neonGlow {
  0% {
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8);
    transform: scale(1);
  }
  100% {
    text-shadow: 4px 4px 16px rgba(0, 255, 255, 0.8);
    transform: scale(1.1);
  }
}

@media (max-width: 600px) {

  .top-right {
    position: absolute;
    bottom: 20px; /* Odległość od dolnego brzegu */
    left: 50%; /* Ustawienie na 50% szerokości ekranu */
    transform: translateX(-50%); /* Przesunięcie w lewo o 50% szerokości elementu, aby być wyśrodkowanym */
  }
}